.cta-wrapper {
    text-align: center;
    padding-bottom: 195px;

    @include breakpoint (max-xxl) {
        padding-bottom: 150px;
    }

    .cta-content {

        .circle-image {
            position: relative;
            margin-bottom: 30px;

            img {
                animation: cir36 10s linear infinite;
            }

            .video-btn {
                width: 64px;
                height: 64px;
                line-height: 64px;
                display: inline-block;
                background-color: $theme-color;
                color: $theme-color-2;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                font-size: 20px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .section-title {
            h2 {
                br {
                     @include breakpoint (max-xxl) {
                        display: none;
                    }
                }
            }
        }

        .theme-btn {
            background-color: $theme-color;
            color: $theme-color-2;
            margin-top: 40px;

            &::before {
                background-color: $white;
            }

            &:hover {
                color: $theme-color-2;
            }
        }
    }
}


.cta-section {
    position: relative;

    .left-shape {
        position: absolute;
        left: 0;
        top: 0;

        @include breakpoint (max-xxxl) {
            top: 30px;

           img {
             max-width: 380px;
           }
        }

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .love-shape {
        position: absolute;
        left: 294px;
        bottom: 100px;

        @include breakpoint (max-xxxl) {
           left: 150px;
        }

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .top-shape {
        position: absolute;
        top: 85px;
        right: 20%;

         @include breakpoint (max-xxxl) {
           right: 14%;
        }

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        bottom: 0;

         @include breakpoint (max-xxxl) {
            
           img {
             max-width: 380px;
           }
        }

        @include breakpoint (max-xxl) {
            display: none;
        }
    }
}

.cta-contact-wrapper {
    @include flex;
    justify-content: space-between;
    padding: 30px 60px;
    border-radius: 20px;
    background-color: $header-color;

    @include breakpoint (max-xxl) {
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
    }

    .contact-item {
        @include flex;
        gap: 10px;
        border-right: 1px solid #C9C9C9;
        padding-right: 40px;
        height: 114px;

        @include breakpoint (max-xxl) {
            border-right: none;
            padding-right: 0;
            height: initial;
        }

        .icon {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border: 1px solid $theme-color;
            color: $theme-color;
            border-radius: 100%;
            @include transition;

            &:hover {
                color: $theme-color-2;
                background-color: $theme-color;
            }
        }

        .content {
            h6 {
                font-size: 15px;
                color: $white;
                margin-bottom: 5px;
            }

            h4 {
                color: $white;

                a {
                    color: $white;
                }
            }
        }
    }

    .social-icon {
        @include flex;
        gap: 20px;
       
        a {
            font-size: 20px;
            color: $theme-color;
            border: 1px solid $theme-color;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
            border-radius: 100px;

            &:hover {
                color: $theme-color-2;
                background-color: $theme-color;
            }
        }
    }
}

.cta-contact-section-2 {
    position: relative;
    z-index: 9;

    @include breakpoint (max-xxl) {
        overflow: hidden;
    }

    &::before {
        @include before;
        background-color: #0F0F0F;
        z-index: -1;
        bottom: -50%;
        top: initial;
    }

    .top-shape {
        position: absolute;
        bottom: -90px;
        right: 0;
        z-index: -1;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }
}

.cta-bg-section-4 {
    position: relative;
    background-attachment: fixed;

    &::before {
        @include before;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
    }
}

.cta-bg-wrapper-4 {
    @include flex;
    justify-content: space-between;
    position: relative;

    @include breakpoint (max-xxl) {
        flex-wrap: wrap;
        gap: 30px;
    }

    .cta-content {
        h3 {
            color: $white;
            margin-bottom: 20px;
        }

        p {
            color: $white;
            max-width: 500px;
        }
    }

    .theme-btn {
        background-color: $theme-color;
        color: $theme-color-2;

        &::before {
            background-color: $white;
        }
    }
}