.upcoming-event-wrapper {
    margin-top: 60px;
    
    .upcoming-event-image {
        margin-bottom: 20px;

        img {
            @include imgw;
            border-radius: 20px;
        }
    }

    .upcoming-event-item {

        .upcoming-event-box {
            @include flex;
            gap: 35px;
            border-radius: 20px;
            border: 1px solid #C9C9C9;
            padding: 20px 30px;
            position: relative;
            transition: width 0.5s ease;
            margin-bottom: 20px;

            @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 15px;
            }

            &.event-acive-box {
                background-color: $theme-color-2;

                .left-content {
                    span {
                        color: $theme-color;
                    }

                    h4 {
                        color: $theme-color;
                    }
                }

                .right-content {
                    h5 {
                        a {
                            color: $theme-color;
                        }
                    }

                    .event-list {
                        li {
                            color: $white;
                        }
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background: $theme-color-2; 
                border-radius: 20px;
                z-index: 1;
                transition: width 0.5s ease;
           }

            .left-content {
                display: grid;
                border-right: 1px solid #C9C9C9;
                padding-right: 22px;
                transition: width 0.5s ease;

                 @include breakpoint (max-xxl) {
                    padding-right: 0;
                    border-right: none;
                }
            }

            .right-content {

                h5 {
                    margin-bottom: 10px;

                    a {
                        background-position: 0 95%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        display: inline;
                        
                        &:hover {
                            color: $theme-color-2;
                            background-size: 100% 2px;
                            background-image: linear-gradient(180deg, $theme-color-2 0%, $theme-color-2 100%);
                        }
                    }
                }

                .event-list {
                    @include flex;
                    gap: 20px;

                    li {
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }

            &:hover {
                 &::before {
                    width: 100%;
                }

                .left-content {
                    position: relative;
                    z-index: 999;

                    span {
                        color: $white;
                    }

                    h4 {
                        color: $white;
                    }
                }
                .right-content {
                    position: relative;
                    z-index: 999;

                    h5 {
                        a {
                            color: $theme-color;

                            &:hover {
                                color: $theme-color;
                                background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                            }
                        }
                    }

                    .event-list {
                        li {
                            color: $white;

                            i {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.event-inner-items {
    border-radius: 20px;
    background-color: #F7F7F7;


    .event-image {
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;

         &::after {
            position: absolute;
            content: "";
            left: 0px;
            top: 0;
            width: 100%;
            height: 0px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
            visibility: hidden;
            opacity: 0;
            transform-style: preserve-3d;
            transform: perspective(370px) rotateY(90deg) translate(0px, 50px);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            transition: all 900ms ease;
            -moz-transition: all 900ms ease;
            -webkit-transition: all 900ms ease;
            -ms-transition: all 900ms ease;
            -o-transition: all 900ms ease;
            z-index: 1;
        }

        img {
            @include imgw;
           border-top-left-radius: 20px;
           border-top-right-radius: 20px;
           transform: scale(1.02);
           transition: all 1.5s ease-out;
        }

        .event-tag {
            font-size: 14px;
            color: $theme-color-2;
            background-color: $theme-color;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 4px 14px;
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    .event-content {
        padding: 30px;

        .event-list {
            @include flex;
            gap: 30px;
            margin-bottom: 10px;

            li {
                i {
                    color: $theme-color;
                    margin-right: 10px;
                }
            }
        }

        h4 {
            margin-bottom: 20px;
            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }

        p {
            margin-bottom: 25px;
        }
    }

    &:hover {
        .event-image {

             &::after {
                visibility: visible;
                opacity: 1;
                transform: perspective(370px) rotateY(0deg) translate(0px, 0px);
                height: 100%;
            }

            img {
                -webkit-transform: scale3d(1.1, 1.1, 1);
                transform: scale3d(1.1, 1.1, 1);
            }
        }
    }
}

.event-list-items {
    border-radius: 20px;
    background-color: #F7F7F7;
    @include flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include breakpoint (max-md) {
        flex-wrap: wrap;
    }

    .event-image {
        position: relative;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;

        @include breakpoint (max-md) {
           flex-basis: 100%;
           border-radius: 20px;
        }

         &::after {
            position: absolute;
            content: "";
            left: 0px;
            top: 0;
            width: 100%;
            height: 0px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
            visibility: hidden;
            opacity: 0;
            transform-style: preserve-3d;
            transform: perspective(370px) rotateY(90deg) translate(0px, 50px);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            transition: all 900ms ease;
            -moz-transition: all 900ms ease;
            -webkit-transition: all 900ms ease;
            -ms-transition: all 900ms ease;
            -o-transition: all 900ms ease;
            z-index: 1;
        }

        img {
            @include imgw;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
           transform: scale(1.02);
           transition: all 1.5s ease-out;

            @include breakpoint (max-md) {
              border-radius: 20px;
            }
        }
    }

    .event-content {
        padding: 20px;

        @include breakpoint (max-xxl) {
          padding-left: 20px;
          padding-top: 0;
          padding-bottom: 0;
       }

        @include breakpoint (max-lg) {
         padding: 20px;
       }

        .event-list {
            @include flex;
            gap: 30px;
            margin-bottom: 10px;

             @include breakpoint (max-xxl) {
                gap: 10px;
            }

            @include breakpoint (max-lg) {
                flex-wrap: wrap;
                gap: 15px;
            }

            li {
                i {
                    color: $theme-color;
                    margin-right: 10px;
                }

                @include breakpoint (max-xxl) {
                    font-size: 14px;
                }
            }
        }

        h4 {
            margin-bottom: 20px;

            @include breakpoint (max-xxl) {
               margin-bottom: 10px;
            }

             @include breakpoint (max-lg) {
               margin-bottom: 20px;
            }
            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }

        p {
            margin-bottom: 25px;
            max-width: 518px;

             @include breakpoint (max-xxl) {
                max-width: 475px;
                margin-bottom: 10px;
            }

            @include breakpoint (max-lg) {
               max-width: 518px;
               margin-bottom: 25px;
            }
        }
    }

    &:hover {
        .event-image {

             &::after {
                visibility: visible;
                opacity: 1;
                transform: perspective(370px) rotateY(0deg) translate(0px, 0px);
                height: 100%;
            }

            img {
                -webkit-transform: scale3d(1.1, 1.1, 1);
                transform: scale3d(1.1, 1.1, 1);
            }
        }
    }
}


.event-details-wrapper {

    .event-details-post {

        .event-details-image {
            img {
                @include imgw;
                border-radius: 20px;
            }
        }

        .event-details-content {
            margin-top: 30px;

            .event-list {
                @include flex;
                gap: 30px;
                margin-bottom: 10px;
                margin-top: 20px;
                border-bottom: 1px solid $border-color;
                padding-bottom: 30px;
                margin-bottom: 30px;

                @include breakpoint (max-xxl) {
                    gap: 10px;
                }

                @include breakpoint (max-lg) {
                    flex-wrap: wrap;
                    gap: 15px;
                }

                li {
                    i {
                        color: $theme-color;
                        margin-right: 10px;
                    }
                }
            }

            .details-thumb {
                img {
                    @include imgw;
                    border-radius: 20px;
                }
            }
        }
    }

    .event-main-sideber {

        .event-sideber-box {
            background-color: #F7F7F7;
            border-radius: 20px;
            padding: 40px 35px;
            margin-bottom: 30px;
            text-align: center;

            .client-image {
                margin-bottom: 10px;
            }

            .user-content {
                span {
                    display: inline-block;
                    margin-bottom: 30px;
                }

                 .social-icon {
                    @include flex;
                    gap: 20px;
                    margin-top: 30px;
                    justify-content: center;

                    a {
                        font-size: 20px;
                        color: $theme-color;
                        border: 1px solid $theme-color;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        display: inline-block;
                        border-radius: 100px;

                        &:hover {
                            color: $theme-color-2;
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }

        .event-info-box {
            background-color: #F7F7F7;
            border-radius: 20px;
            padding: 40px 35px;
            margin-bottom: 30px;

            h3 {
                margin-bottom: 30px;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -10px;
                    height: 2px;
                    width: 40px;
                    background-color: $theme-color;
                }
            }

            .info-item {
                display: flex;
                gap: 15px;
                margin-bottom: 30px;

                .icon {
                    color: $theme-color;
                }
            }
        }

        .event-contact-box {
            text-align: center;
            background-color: #F7F7F7;
            border-radius: 20px;
            padding: 40px 35px;

            .icon {
                width: 76px;
                height: 76px;
                line-height: 76px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid $theme-color-2;
                margin: 0 auto;
                font-size: 30px;
            }

            h5 {
                margin-top: 15px;
            }

            h6 {
                margin-top: 15px;
                margin-bottom: 40px;
            }

            .theme-btn {
                background-color: $theme-color;
                color: $theme-color-2;

                &::before {
                    background-color: $theme-color-2;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }
}