.footer-widget-wrapper {
    padding: 90px 0 70px;

    @include breakpoint (max-xxl) {
        padding: 0 0 70px;
    }

    &.widget-inner {

         @include breakpoint (max-xxxl) {
            padding: 90px 0;
        }

        @include breakpoint (max-xxl) {
            padding: 100px 0;
        }

        @include breakpoint (max-lg) {
            padding: 80px 0;
        }
    }

    .single-footer-widget {
        margin-top: 30px;

        @include breakpoint (max-xxl) {
            margin-top: 0;
        }

        .wid-title {
            margin-bottom: 30px;
            
            h3 {
                font-size: 28px;
                color: $white;

                @include breakpoint (max-xxl) {
                    font-size: 20px;
                }
            }
        }

        .list-area {
            li {
                @include transition;
                font-weight: 400;
                font-size: 16px;

                @include breakpoint (max-xxl) {
                    font-size: 16px;
                }

                &:not(:last-child){
                    margin-bottom: 30px;
                }

                a {
                    color: $white;

                    i {
                        margin-right: 5px;
                        color: $theme-color;
                        font-size: 16px;
                    }
                }

                &:hover {
                    margin-left: 5px;

                    a {
                        color: $theme-color;
                    }
                }
            }
       }

       .footer-newsletter {

          p {
            max-width: 470px;
            color: $white;
            margin-bottom: 30px;
          }

          form {
            max-width: 424px;
            width: 100%;

            .form-clt {
                position: relative;

                input {
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    background: transparent;
                    backdrop-filter: blur(26px);
                    color: $white;
                    line-height: 1;
                    padding: 20px;
                    max-width: 442px;
                    border: 1px solid #C9C9C9;

                    &::placeholder {
                        color: $white;
                    }
                }

                .theme-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    color: $theme-color;
                    border-radius: 0;
                    background-color: transparent;
                    border-left: 1px solid #D9D9D9;
                     border-top-right-radius: 10px;
                     border-bottom-right-radius: 10px;

                     @include breakpoint (max-sm) {
                        border-left: none;
                        border: 1px solid $white;
                        border-radius: 10px;
                    }

                    &::before {
                        border-radius: 10px;
                    }

                    &:hover {
                        color: $theme-color-2;
                    }
                    
                    @include breakpoint (max-xxs){
                        position: static;
                        margin-top: 20px;
                    }
                }
            } 
          }

          .social-icon {
             @include flex;
             gap: 20px;
             margin-top: 30px;

                a {
                    font-size: 20px;
                    color: $theme-color;
                    border: 1px solid $theme-color;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 100px;

                    &:hover {
                        color: $theme-color-2;
                        background-color: $theme-color;
                    }
                }
            }
        }

        .footer-left-content {
            p {
                color: $white;
                max-width: 400px;
                margin-bottom: 40px;
                margin-top: 20px;
            }

            .theme-btn {
                background-color: $theme-color;
                color: $theme-color-2;
                margin-top: 40px;

                &::before {
                    background-color: $theme-color-2;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }

    &.style-2 {
         @include breakpoint (max-xxl) {
            padding: 100px 0 70px;
        }

        @include breakpoint (max-lg) {
            padding: 80px 0 70px;
        }

        .single-footer-widget {

        .list-area {
            li {

                a {
                    color: $text-color;
                }

                 &:hover {
                
                    a {
                        color: $theme-color;
                    }
                }
            }
       }

        .footer-left-content {
            p {
                color: $white;
                max-width: 400px;
                margin-bottom: 40px;
                margin-top: 20px;

                 @include breakpoint (max-xxl) {
                    margin-bottom: 30px;
                    font-size: 14px;
                }

                 @include breakpoint (max-lg) {
                   font-size: 16px;
                }
            }

            .theme-btn {
                background-color: $theme-color;
                color: $theme-color-2;
                margin-top: 0;

                &::before {
                    background-color: $theme-color-2;
                }

                &:hover {
                    color: $white;
                }
            }
        }

        .footer-right-contact {
            .list {
                
                li {
                    line-height: 162%;
                    @include flex;
                    gap: 8px;

                     @include breakpoint (max-xxl) {
                       font-size: 14px;
                    }

                     @include breakpoint (max-lg) {
                      font-size: 16px;
                    }

                    a {
                        color: $text-color;
                    }

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    i {
                        color: $theme-color;
                        font-size: 16px;
                    }
                }
            }

            .social-icon {
                @include flex;
                gap: 20px;
                margin-top: 30px;

                a {
                    color: $theme-color;
                    font-size: 20px;

                    &:hover {
                        color: $white;
                    }
                }
            }
         }
      }
    }
}

.footer-bottom {
    border-top: 1px solid $white;
    padding: 30px 0;

    .footer-wrapper {
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-xxl) {
            flex-wrap: wrap;
            gap: 30px;
        }

        p {
            color: $white;

            span {
                color: $theme-color;
            }
        }

        .footer-bottom-list {
            @include flex;
            gap: 40px;

            @include breakpoint (max-xxl) {
                gap: 15px;
            }

            li {
                a {
                    color: $white;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    &.style-2 {
        background-color: $theme-color-2;
         border-top: 1px none;

        .footer-wrapper {
            p {
                color: $white;
                font-family: $heading-font;

                span {
                    color: $theme-color;
                }
            }

            .footer-bottom-list {
                li {
                    font-family: $heading-font;
                    
                    a {
                        color: $white;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.footer-section-2 {
    position: relative;

    .left-shape {
        position: absolute;
        left: 30px;
        top: 90px;

        @include breakpoint (max-xxxl) {
            left: 10px;
            top: 30px;

            img {
                width: 100px;
            }
        }

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        bottom: 44%;
        right: 30px;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }
}

.footer-section-3 {

    .container-fluid {
        padding: 0 90px;

         @include breakpoint (max-xxxl) {
            padding: 0 50px;
        }

         @include breakpoint (max-xxl) {
            padding: 0 30px;
        }

         @include breakpoint (max-lg) {
            padding: 0 15px;
        }
    }
}

.footer-widget-wrapper-3 {
    padding: 120px 0 100px;

     @include breakpoint (max-xxl) {
       padding: 100px 0 100px;
    }

     @include breakpoint (max-lg) {
       padding: 80px 0 80px;
    }

    .top-list {
        @include flex;
        gap: 40px;
        border-top: 1px solid #C9C9C9;
        padding-top: 60px;
        margin-top: 80px;
        justify-content: center;
        margin-bottom: 40px;

         @include breakpoint (max-xxl) {
            flex-wrap: wrap;
            gap: 20px;
            padding-top: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        li {
            font-size: 24px;
            font-weight: 400;
            font-family: $heading-font;

             @include breakpoint (max-xxl) {
               font-size: 16px;
            }

            a {
                position: relative;
                  z-index: 999;
                  
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    .text {
        font-size: 200px;
        text-align: center;
        color: $header-color;
        opacity: 0.1;

         @include breakpoint (max-xxxl) {
           font-size: 150px;
        }

         @include breakpoint (max-xxl) {
           font-size: 80px;
        }

         @include breakpoint (max-lg) {
           font-size: 60px;
        }

         @include breakpoint (max-sm) {
           font-size: 38px;
        }
    }
 }

 .footer-bottom-3 {
    border-top: 1px solid #C9C9C9;
    padding: 30px 0;

    .footer-wrapper-3 {
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-xxl) {
            flex-wrap: wrap;
            gap: 30px;
        }

        p {
            color: $header-color;
            font-family: $heading-font;

            span {
                color: $theme-color-2;
            }
        }

        .footer-bottom-list {
            @include flex;
            gap: 40px;

            @include breakpoint (max-xxl) {
                gap: 15px;
            }

            li {
                font-family: $heading-font;
                
                a {
                    color: $header-color;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}