.hero-1 {
    position: relative;
    padding: 180px 0;

    @include breakpoint (max-xxl) {
        padding: 100px 0;
    }

    @include breakpoint (max-lg) {
        padding: 80px 0;
    }

    &::before {
        @include before;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%);
        z-index: 999;
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
        z-index: 9;
    }

     .shape {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9999;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .hero-content {
        position: relative;
        z-index: 999;
        text-align: center;

        @include breakpoint (max-md){
            text-align: center;
        }

        h6 {
            color: $theme-color;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        h1 {
           color: $white;
           margin-bottom: 15px;
        }

        p {
           max-width: 722px;
           color: $white;
           margin: 0 auto
        }

      
        .hero-button {
            @include flex;
            margin-top: 40px;
            gap: 40px;
            justify-content: center;

            @include breakpoint (max-xl) {
               margin-top: 30px;
               flex-wrap: wrap;
               gap: 30px;
            }

            @include breakpoint (max-md){
               justify-content: center;
            }

            .theme-btn {

                &.border-btn {
                    background-color: transparent;
                    border: 1px solid $white;

                    &:hover {
                        border: 1px solid $theme-color;
                    }
                }
            }
        }
    }
}


.hero-section-1 {
    position: relative;

    .swiper-slide.swiper-slide-active {
        .hero-bg {
            -webkit-transform: scale(1.19);
            -moz-transform: scale(1.19);
            transform: scale(1.19);
        }
    }

    .arrow-button {

        @include breakpoint (max-xl) {
            display: none;
        }

        .array-prev {
            position: absolute;
            left: 3%;
            top: 50%;
            transform: translateY(-50%);
            background-color: $theme-color-2;
            width: 60px;
            height: 60px;
            border-radius: 100px;
            line-height: 60px;
            color: $theme-color;
            font-size: 18px;
            z-index: 9;
            @include transition;

            &:hover {
                color: $theme-color-2;
                background-color: $theme-color;
            }
        }

        .array-next {
            position: absolute;
            right: 2%;
            top: 50%;
             transform: translateY(-50%);
            color: $white;
            font-size: 18px;
            z-index: 999;
            @include transition;
            background-color: $theme-color-2;
            width: 60px;
            height: 60px;
            border-radius: 100px;
            line-height: 60px;

            &:hover {
                color: $theme-color-2;
                background-color: $theme-color;
            }
        }
    }
}

.hero-2 {
    padding: 180px 0;
    position: relative;
    z-index: 9;

     @include breakpoint (max-xxl) {
       padding: 100px 0;
    }

     @include breakpoint (max-lg) {
       padding: 80px 0;
    }

    &::before {
        @include before;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.51) 30.29%, rgba(0, 0, 0, 0.37) 39.42%, rgba(0, 0, 0, 0.00) 55.77%);
        z-index: -1;
    }

    .left-shape {
        position: absolute;
        left: 0;
        top: 0;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        bottom: 0;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .left-shape-2 {
        position: absolute;
        left: 100px;
        bottom: 290px;
        z-index: -1;

        @include breakpoint (max-xxxl) {
            display: none;
        }
    }

    .hero-content {

        h4 {
            color: $theme-color;
            text-transform: uppercase;
        }

        h1 {
            color: $white;
            font-size: 110px;

             @include breakpoint (max-xxxl) {
                font-size: 110px;
            }

            @include breakpoint (max-xxl) {
                font-size: 60px;
            }

             @include breakpoint (max-xl) {
                font-size: 55px;
            }

             @include breakpoint (max-lg) {
                font-size: 45px;
            }

             @include breakpoint (max-sm) {
                font-size: 35px;
            }
        }

        .hero-button-item {
            margin-top: 50px;
            @include flex;
            gap: 50px;

             @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 30px;
                margin-top: 30px;
            }

            .theme-btn {
                background-color: $theme-color;
                color: #0F0F0F;
                
                &::before {
                    background-color: $header-color;
                }

                &:hover {
                    color: $white;
                }
            }

            .button-text {
                @include flex;

                .video-btn {
                    border: 1px solid $white;
                    color: $white;
                    display: inline-block;
                    font-size: 16px;
                    height:60px;
                    width: 60px;
                    line-height:60px;
                    border-radius: 100px;
                    text-align: center;
                }

                span {
                    font-size: 14px;
                    color: $white;
                    font-family: $heading-font;
                    font-weight: 400;
                }
            }
        }
    }
}

.hero-3 {
    padding: 80px 0;
    position: relative;
    z-index: 9;

    @include breakpoint (max-lg) {
       padding: 80px 0;
    }

    &::before {
        @include before;
        background: linear-gradient(0deg, rgba(11, 78, 61, 0.90) 0%, rgba(11, 78, 61, 0.90) 100%);
        z-index: -1;
    }

    .container-fluid {
        padding: 0 150px;

        @include breakpoint (max-xxxl) {
            padding: 0 50px;
        }

        @include breakpoint (max-xxl) {
            padding: 0 30px;
        }

        @include breakpoint (max-sm) {
            padding: 0 15px;
        }
    }

    .right-shape {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        img {
            @include imgw;
        }

        @include breakpoint (max-lg) {
            display: none;
        }
    }

    .left-shape {
        position: absolute;
        left: 0;
        bottom: 0;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

     .box {
        @include flex;
        gap: 10px;
        border-radius: 46px;
        padding: 20px 30px;
        background-color: $white;
        position: absolute;
        bottom: 175px;
        left: 49%;
        z-index: 99;

        @include breakpoint (max-xl) {
                display: none;
            }

        .icon {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 100px;
            background-color: $theme-color;

            img {
                width: initial;
                height: initial;
            }
        }

        .content {
            h6 {
                font-weight: 400;
            }
            span {
                font-family: $heading-font;
                color: $header-color;
            }
        }
    }

        .shape-1 {
            position: absolute;
            left: 48%;
            top: 120px;
            z-index: -1;

            @include breakpoint (max-xxl) {
                display: none;
            }

            img {
                width: initial;
                height: initial;
            }
        }

        .shape-2 {
            position: absolute;
            bottom: 185px;
            right: 77px;
            z-index: -1;

             @include breakpoint (max-xxl) {
                display: none;
            }

            img {
                width: initial;
                height: initial;
            }
        }

    .hero-content {
        h6 {
            color: $theme-color;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h1 {
            color: $white;
            margin-bottom: 20px;
            font-size: 68px;
            font-weight: 400;

            @include breakpoint (max-xxl) {
                font-size: 60px;
            }

            @include breakpoint (max-xl) {
                font-size: 50px;
            }

            @include breakpoint (max-lg) {
                font-size: 40px;
            }

            @include breakpoint (max-md) {
                font-size: 30px;
            }

            span {
                color: $theme-color;
            }
        }

        p {
            max-width: 730px;
            color: $white;
        }

        .hero-button-item {
            margin-top: 50px;
            @include flex;
            gap: 50px;

             @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 30px;
                margin-top: 30px;
            }

            .theme-btn {
                background-color: $theme-color;
                color: #0F0F0F;
                
                &::before {
                    background-color: $header-color;
                }

                &:hover {
                    color: $white;
                }
            }

            .button-text {
                @include flex;

                .video-btn {
                    border: 1px solid $white;
                    color: $white;
                    display: inline-block;
                    font-size: 16px;
                    height:60px;
                    width: 60px;
                    line-height:60px;
                    border-radius: 100px;
                    text-align: center;

                    &.ripple {
                        @include breakpoint (max-sm) {
                           &::before {
                              display: none;
                           }

                            &::after {
                              display: none;
                           }
                        }
                    }
                }

                span {
                    font-size: 14px;
                    color: $white;
                    font-family: $heading-font;
                    font-weight: 400;
                }
            }
        }
    }

    .hero-image {
       max-width: 790px;
        position: relative;
        margin-left: 80px;

         @include breakpoint (max-xxl) {
           margin-left: 0;
        }

        img {
            @include imgw;
        }
    }

    .hero-image-slider {
        margin-right: -100px;

         @include breakpoint (max-xxl) {
            margin-right: 0;
        }
    }

    .swiper-dot {
        position: absolute;
        right: 150px;
        bottom: 60px;

        @include breakpoint (max-lg) {
            display: none;
        }
    }
}