
.pricing-wrapper {
    margin-top: 60px;

    .pricing-card-item-2 {
        @include flex;
        justify-content: space-between;
        border-radius: 0 110px 110px 0;
        border-radius: 0 110px 110px 0;
        border: 1px solid #C9C9C9;
        padding: 40px;
        margin-bottom: 30px;

        @include breakpoint (max-xxl) {
            padding: 30px;
            flex-wrap: wrap;
            gap: 30px;
            border-radius: 10px;
        }

        .content {
            h3 {
                margin-bottom: 10px;
            }

            p {
                max-width: 366px;
            }
        }

        .number {
            font-size: 36px;
            width: 130px;
            height: 130px;
            line-height: 130px;
            border-radius: 100%;
            background-color: $theme-color;
            text-align: center;
            position: relative;
            z-index: 1;

            @include breakpoint (max-xxl) {
               width: 100px;
               height: 100px;
               line-height: 100px;
               font-size: 25px;
            }

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                background-color: $theme-color-2;
                content: "";
                border-radius: 50%;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
                -webkit-transform: scale(0);
                 transform: scale(0);
            }
        }

        &:hover {
            .number {
                 color: $white;

                 &::after {
                     transform: scale(1);
                     z-index: -1;
                }
            }
        }
    }

    .pricing-right-card {
        @include flex;
        justify-content: space-between;
        padding: 40px;
        border-radius: 110px 0 0 110px;
        border: 1px solid #C9C9C9;
        padding: 40px 80px 40px 60px;
        margin-bottom: 30px;

        @include breakpoint (max-xxl) {
            padding: 30px;
            flex-wrap: wrap;
            gap: 30px;
            border-radius: 10px;
        }

        .pricing-list {
            border-right: 1px solid #D9D9D9;
            padding-right: 30px;

            @include breakpoint (max-xxl) {
                border-right: none;
                padding-right: 0;
            }

            li {
                font-family: $heading-font;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                i {
                    margin-right: 6px;
                    color: $theme-color-2;
                }
            }
        }

        .pricing-button {
           
            .theme-btn {
                background-color: $theme-color;
                color: $theme-color-2;
                
                &::before {
                    background-color: $theme-color-2;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }
}