
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	.sub-title {
		font-size: 16px;
		font-weight: 400;
		color: $text-color-2;
		font-family: $heading-font;
		margin-bottom: 20px;
		text-transform: uppercase;
		line-height: 1;
		border: 1px solid $header-color;
		padding: 10px 20px;
		border-radius: 100px;
		padding-left: 25px;
		display: inline-block;
		position: relative;

		&::before {
			width: 6px;
			height: 6px;
			border-radius: 30px;
			background-color: $text-color-2;
			left: 0;
			position: absolute;
			content: "";
			top: 15px;
			left: 13px;
		}
	}

	h2 {
		text-transform: lowercase;

	span {
		text-transform: uppercase;
	}
	}

	&.style-2 {
		h2 {
			font-size: 64px;

			@include breakpoint(max-xxl){
				font-size: 50px;
			}

			@include breakpoint(max-xl){
				font-size: 40px;
			}

			@include breakpoint(max-lg){
				font-size: 40px;
			}

			@include breakpoint(max-md){
				font-size: 35px;
			}

			@include breakpoint(max-sm){
				font-size: 30px;
			}

			@include breakpoint(max-xxs){
				font-size: 25px;
			}
		}
	}
}


.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;
	
	.section-title {
		margin-bottom: 0;
	}
	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	@include breakpoint (max-md){
		margin-bottom: 0;
	}
}
//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color-2;
}

.section-bg-1 {
	background-color: $bg-color;
}

.section-bg-2 {
	background-color: #F7F7F7;
}

.header-bg {
	background-color: $header-color;
}


.footer-bg-2 {
	background-color: #0F0F0F;
}

.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//

