.team-card-items {
    margin-top: 30px;
    text-align: center;
    position: relative;
    z-index: 9;
    padding: 0 30px 30px 30px;

    @include breakpoint (max-xxl) {
        padding: 30px;
    }

    &::before {
        @include before;
        border-radius: 20px;
        background-color: #F7F7F7;
        top: 130px;
        z-index: -1;
        height: 340px;

        @include breakpoint (max-xxl) {
            height: initial;
            top: 0;
        }
    }

    .team-image {
        margin-bottom: 30px;
        overflow: hidden;
        border-radius: 154px;
        position: relative;

        @include breakpoint (max-xxl) {
            border-radius: 1000px;
        }

         &::after {
            content: "";
            position: absolute;
            width: 200%;
            height: 0%;
            left: 50%;
            top: 50%;
            background-color: rgba(255,255,255,.3);
            transform: translate(-50%,-50%) rotate(-45deg);
            z-index: 1;
        }

        img {
            @include imgw;
            border-radius: 154px;
            border: 3px solid $theme-color;
            transform: scale(1.02);
            transition: all 1.5s ease-out;

            @include breakpoint (max-xxl) {
                border-radius: 1000px;
            }
        }
    }

    .team-content {
        border-radius: 20px;
        background-color: $white;
        padding: 30px 0;
        text-align: center;
        position: relative;
        z-index: 999;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: $theme-color;
            @include transition;
            z-index: -1;
            border-radius: 20px;
        }

        h5 {
            margin-bottom: 10px;

            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color-2;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color-2 0%, $theme-color-2 100%);
                }
            }
        }

        p {
            margin: 0 auto;
        }

        .social-icon {
            @include flex;
            gap: 20px;
            margin-top: 10px;
            justify-content: center;

            a {
                font-size: 20px;
                color: $theme-color-2;

                &:hover {
                    color: $theme-color-2;
                }
            }
        }
    }

    &:hover {
        .team-image {

            &::after {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }

            img {
                -webkit-transform: scale3d(1.1, 1.1, 1);
                transform: scale3d(1.1, 1.1, 1);
            }
        }

        .team-content {
            &::before{
                top: auto;
                height: 100%;
            }

            p {
                color: $theme-color-2;
            }
        }
    }
}

.volounteer-inner-card {
    border: 1px solid $border-color;
     border-radius: 10px;

    .volounteer-image {
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        .shape {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 200%;
            height: 0%;
            left: 50%;
            top: 50%;
            background-color: rgba(255,255,255,.3);
            transform: translate(-50%,-50%) rotate(-45deg);
            z-index: 1;
        }

        img {
            @include imgw;
            transform: scale(1.02);
            transition: all 1.5s ease-out;
            border-radius: 10px;
        }

        .volounteer-content {
            text-align: center;
            position: relative;
            z-index: 999;
            position: absolute;
            bottom: 0px;
            left: 50px;
            right: 50px;

            h5 {
               
                a {
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;
                    
                    &:hover {
                        color: $theme-color-2;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $theme-color-2 0%, $theme-color-2 100%);
                    }
                }
            }

            p {
                margin: 0 auto;
            }

            .social-icon {
                @include flex;
                gap: 20px;
                margin-top: 8px;
                justify-content: center;
                opacity: 0;
                visibility: hidden;
                @include transition;
                margin-bottom: -15px;

                a {
                    font-size: 20px;
                    color: $theme-color-2;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    &:hover {
        .volounteer-image {
             &::after {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }

            img {
                -webkit-transform: scale3d(1.1, 1.1, 1);
                transform: scale3d(1.1, 1.1, 1);
            }

            .volounteer-content {

                .social-icon {
                    opacity: 1;
                    visibility: visible;
                    margin-bottom: 15px;
                }
            }
        }
    }
}


.volounteer-details-wrapper {
    margin-bottom: 80px;

    @include breakpoint (max-xxl) {
        margin-bottom: 30px;
    }

    .volounteer-details-left-item {

        .details-image {
            position: relative;
            overflow: hidden;

             &::after {
                content: "";
                position: absolute;
                width: 200%;
                height: 0%;
                left: 50%;
                top: 50%;
                background-color: rgba(255,255,255,.3);
                transform: translate(-50%,-50%) rotate(-45deg);
                z-index: 1;
            }

            img {
                @include imgw;
                border-radius: 20px;
            }
        }

        .details-list {
            margin-top: 30px;

            li {
                font-size: 20px;
                font-weight: 400;
                color: $header-color;
                font-family: $heading-font;

                 @include breakpoint (max-xxl) {
                   font-size: 16px;
                }

                span {
                    color: $text-color;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }

        &:hover {
            .details-image {
                 &::after {
                    height: 250%;
                    transition: all 600ms linear;
                    background-color: transparent;
                }
            }
        }
    }

    .volounteer-details-box {
        border-radius: 20px;
        padding: 40px 60px;
        background: #F7F7F7;

         @include breakpoint (max-xxl) {
           padding: 30px;
        }

        h3 {
            margin-bottom: 10px;
        }

        .social-icon {
            @include flex;
            gap: 20px;
            margin-top: 30px;
            margin-bottom: 20px;

            a {
                font-size: 20px;
                color: $theme-color-2;
                border: 1px solid $theme-color-2;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                border-radius: 100px;

                &:hover {
                    color: $theme-color;
                    background-color: $theme-color-2;
                }
            }
        }

        h5 {
            margin-top: 20px;
        }

        .progress-wrap {
            margin-top: 30px;

            .pro-items {
                width: 100%;

                &:not(:last-child){
                    margin-bottom: 25px;
                }
                .pro-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .title {
                        font-size: 16px;
                        font-weight: 400;
                    }
                    
                    .point {
                        font-size: 16px;
                        font-weight: 400;
                        color: $header-color;
                        font-family: $heading-font;
                    }
                }
                .progress {
                    background: rgba(11, 78, 61, 0.2);
                    justify-content: flex-start;
                    border-radius: 100px;
                    align-items: center;
                    position: relative;
                    display: flex;
                    height: 5px;
                    width: 100%;
                }
                
                .progress-value {
                    animation: load 3s normal forwards;
                    border-radius: 0;
                    background: $theme-color-2;
                    height: 5px;
                    width: 0;
                    border-radius: 10px;
                }
                .style-two{
                    animation: load2 3s normal forwards;
                }
               
                @keyframes load {
                    0% { width: 0; }
                    100% { width: 85%; }
                }

                @keyframes load2 {
                    0% { width: 0; }
                    100% { width: 95%; }
                }
            }
        }

        .list-item {
            @include flex;
            gap: 100px;
            margin-top: 40px;
            margin-bottom: 40px;

            @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 15px;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .list {
                li {
                    color: $header-color;
                    font-family: $heading-font;
                    font-size: 20px;
                    font-weight: 400;

                     @include breakpoint (max-xxl) {
                        font-size: 16px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }

        .theme-btn {
            background-color: $theme-color;
            color: $theme-color-2;

            &::before {
                background-color: $theme-color-2;
            }

            &:hover {
                color: $white;
            }
        }
    }
}

.volounteer-Experience-wrapper {

    .contact-form-items {
        p {
            margin-bottom: 40px;
            margin-top: 20px;

             @include breakpoint (max-xxl) {
                margin-bottom: 30px;
            }
        }
        .form-clt {
            input,textarea {
                width: 100%;
                outline: none;
                border: none;
                background-color: $white;
                border: 1px solid #DEDEDE;
                padding-bottom: 20px;
                padding: 16px 20px;
                @include transition;
                color: #666;
                font-size: 16px;
                border-radius: 6px;
                font-family: $heading-font;
    
                &::placeholder {
                     color: #666;
                }
            }
    
            textarea {
                padding-bottom: 30px;
                resize: none;
            }
        }
    }

    .volounteer-Experience-content {
        margin-left: 50px;

        @include breakpoint (max-xxl) {
            margin-left: 0;
        }

        h3 {
            margin-bottom: 20px;
        }

        .list {
            li {
                color: $header-color;
                font-size: 20px;
                font-weight: 400;
                font-family: $heading-font;

                 @include breakpoint (max-xxl) {
                    font-size: 16px;
                }

                svg {
                    margin-right: 10px;
                }

                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

.become-volounteer-wrapper {

    .become-volounteer-content {
        .text {
            margin-top: 20px;
        }

        .become-volounteer-list {
              @include flex;
                gap: 30px;
                margin-bottom: 60px;
                margin-top: 40px;

                @include breakpoint (max-xxl) {
                    margin-bottom: 30px;
                    flex-wrap: wrap;
                    margin-top: 30px;
                }

                .list-item {
                li {
                    font-size: 20px;
                    font-weight: 400;
                    font-family: $heading-font;
                    color: $header-color;

                        @include breakpoint (max-sm) {
                        font-size: 16px;
                    }

                    svg {
                        margin-right: 10px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .progress-wrap {

            .pro-items {
                width: 100%;

                &:not(:last-child){
                    margin-bottom: 25px;
                }
                .pro-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .title {
                        font-size: 16px;
                        font-weight: 400;
                        color: $header-color;
                    }
                    
                    .point {
                        font-size: 16px;
                        font-weight: 400;
                        color: $header-color;
                        font-family: $heading-font;
                    }
                }
                .progress {
                    background: #667471;
                    justify-content: flex-start;
                    border-radius: 100px;
                    align-items: center;
                    position: relative;
                    display: flex;
                    height: 10px;
                    width: 100%;
                }
                
                .progress-value {
                    animation: load 3s normal forwards;
                    border-radius: 0;
                    background: $header-color;
                    height: 10px;
                    width: 0;
                    border-radius: 10px;
                }
                .style-two{
                    animation: load2 3s normal forwards;
                }
                
                @keyframes load {
                    0% { width: 0; }
                    100% { width: 70%; }
                }

                @keyframes load2 {
                    0% { width: 0; }
                    100% { width: 80%; }
                }
            }
        }
    }

    .from-box {
        margin-left: 50px;

        @include breakpoint (max-xxl) {
            margin-left: 0;
        }

        p {
            max-width: 532px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .form-clt {
            input,textarea {
                width: 100%;
                outline: none;
                border: none;
                background-color: transparent;
                border: 1px solid #C9C9C9;
                padding-bottom: 20px;
                padding: 16px 20px;
                @include transition;
                color: $text-color;
                font-size: 16px;
                border-radius: 10px;
    
                &::placeholder {
                     color: $text-color;
                }
            }
    
            textarea {
                padding-bottom: 90px;
                resize: none;
            }
        }

        .theme-btn {
            background-color: $theme-color;
            color: $theme-color-2;

            &::before {
                background-color: $theme-color-2;
            }

            &:hover {
                color: $white;
            }
        }
    }
}