.testimonial-wrapper {
    margin-top: 60px;
    position: relative;

    &::before {
        height: 601px;
        background-color: $bg-color;
        border-radius: 20px;
        width: 84%;
        left: 18%;
        top: 23px;
        position: absolute;
        content: "";

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .testimonial-image {
        position: relative;
        z-index: 9;

        img {
            @include imgw;
            border-radius: 0 0 266.5px 266.5px;
        }

        .shape {
            position: absolute;
            left: -32%;
            bottom: -30px;
            z-index: -1;

             @include breakpoint (max-xxxl) {
                left: -9%;
            }

            @include breakpoint (max-xxl) {
                display: none;
            }
        }
    }

    .testimonial-content {
        padding: 60px;

        @include breakpoint (max-xxl) {
            padding: 30px;
            background-color: $bg-color;
            border-radius: 20px;
        }

        .content {
            border-bottom: 1px solid #C9C9C9;
            margin-bottom: 40px;
            padding-bottom: 40px;

            @include breakpoint (max-xxl) {
                margin-bottom: 30px;
                padding-bottom: 30px;
            }

            .star {
                color: $theme-color;
            }

            p {
                max-width: 666px;
                margin-bottom: 30px;
            }
        }

        h6 {
            color: $text-color;
            font-family: $body-font;
            margin-bottom: 40px;
            position: relative;

            span {
                color: $header-color;
            }
        }

        .brand-image {
            text-align: center;
            filter: grayscale(100%);
            @include transition;
            opacity: 0.9;
    
            &:hover {
                filter: initial;
                opacity: 1;
            }
        }

        .swiper-slide.swiper-slide-active{
            .brand-image {
                filter: initial;
                opacity: 1;
            }
        }
    }
}

.testimonial-wrapper-2 {
    position: relative;

    .testimonial-content {

        .section-title {
            h2 {
                font-size: 50px;

                  @include breakpoint(max-xxl){
                    font-size: 50px;
                }

                @include breakpoint(max-xl){
                    font-size: 40px;
                }

                @include breakpoint(max-lg){
                    font-size: 40px;
                }

                @include breakpoint(max-md){
                    font-size: 35px;
                }

                @include breakpoint(max-sm){
                    font-size: 30px;
                }

                @include breakpoint(max-xxs){
                    font-size: 25px;
                }
            }
        }

        .text {
            max-width: 533px;
            margin-top: 20px;
        }

        .theme-btn {
            background-color: $theme-color;
            color: $theme-color-2;
            margin-top: 40px;

            &::before {
                background-color: $theme-color-2;
            }

            &:hover {
                color: $white;
            }
        }
    }

    .testimonial-items {

        @include breakpoint (max-lg) {
            padding-bottom: 35px;
        }

        .testimonial-box {
            background-color: $white;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);
            border-radius: 20px;
            padding: 60px 40px;
            max-width: 600px;

            @include breakpoint (max-xxl) {
                padding: 30px
            }

            .top-item {
                @include flex;
                justify-content: space-between;
                margin-bottom: 20px;

                @include breakpoint (max-xxl) {
                    flex-wrap: wrap;
                    gap: 30px;
                }

                .star {
                    color: $theme-color;
                }
            }

            p {
                max-width: 446px;

                @include breakpoint (max-sm) {
                    font-size: 14px;
                }
            }

            .client-info {
                @include flex;
                gap: 20px;
                margin-top: 30px;

                @include breakpoint (max-sm) {
                    gap: 12px;
                }

                h5 {
                    @include breakpoint (max-sm) {
                        font-size: 16px;
                    }
                }

                span {
                    @include breakpoint (max-sm) {
                        font-size: 14px;
                    }
                }
            }
        }

    #slider {
        position: relative;
        width: 70%;
        height: 357px;
        margin: 0px auto;
        font-family: sans-serif;
        perspective: 1200px;
        transform-style: preserve-3d;

         @include breakpoint (max-xxl) {
            margin: 0px auto;
        }

        @include breakpoint (max-lg) {
            height: 260px;
            margin: 0px auto;
        }

        @include breakpoint (max-md) {
            height: 330px;
        }
      
        input[type=radio] {
            display: none; 
        }

        label {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            cursor: pointer;
            transition: transform 400ms ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #s1:checked ~ #slide1,
        #s2:checked ~ #slide2,
        #s3:checked ~ #slide3 {
            transform: translate3d(0%, 0, 0px);
            z-index: 3;
        }

        #s1:checked ~ #slide2,
        #s2:checked ~ #slide3,
        #s3:checked ~ #slide1 {
            transform: translate3d(15%, 0, -100px);
            z-index: 2;
        }

        #s1:checked ~ #slide3,
        #s2:checked ~ #slide1,
        #s3:checked ~ #slide2 {
            transform: translate3d(-15%, 0, -100px);
            z-index: 1;
        }
    }
}

}

.testimonial-section-2 {
    margin-bottom: 120px;

    @include breakpoint (max-xxl) {
        overflow: hidden;
         margin-bottom: 100px;
    }

     @include breakpoint (max-xl) {
       margin-bottom: 100px;
    }

    @include breakpoint (max-lg) {
       margin-bottom: 80px;
    }
}

.testimonial-wrapper-3 {

    .testimonial-item-3 {
        position: relative;

        .testimonial-image {
            max-width: 500px;
            position: relative;

            @include breakpoint (max-xxl) {
                max-width: initial;
            }

            img {
                @include imgw;
                border-radius: 20px;
            }
        }

        .testimonial-box {
            background-color: $white;
            border-radius: 20px;
            padding: 40px;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
            position: absolute;
            right: 30px;
            bottom: -64px;
            width: 500px;

            @include breakpoint (max-xxl) {
                width: initial;
                padding: 30px;
                right: 0;
                bottom: 0;
                position: static;
                margin-top: 30px;
            }

            .testimonial-content {

                .star {
                    color: $theme-color;
                    margin-bottom: 5px;
                }

                p {
                    max-width: 420px;
                    margin-bottom: 30px;
                }
            }

            .array-button {
                position: absolute;
                right: 40px;
                bottom: 40px;
                @include flex;
                gap: 10px;
                z-index: 9999;
                background-color: $white;

                .array-prev {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 100px;
                    background-color: $theme-color;
                    color: $theme-color-2;
                    @include transition;
                    font-size: 12px;
                    z-index: 999;

                    &:hover {
                        background-color: $theme-color-2;
                        color: $white;
                    }
                }

                .array-next {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 100px;
                    background-color: $theme-color-2;
                    color: $white;
                    @include transition;
                    font-size: 12px;
                    z-index: 999;

                    &:hover {
                      background-color: $theme-color;
                      color: $theme-color-2;
                    }
                }
            }
        }
    }

    .testimonial-content {

        .section-title {
            h2 {
                font-size: 60px;

                @include breakpoint(max-xxl){
				font-size: 50px;
			}

			@include breakpoint(max-xl){
				font-size: 40px;
			}

			@include breakpoint(max-lg){
				font-size: 40px;
			}

			@include breakpoint(max-md){
				font-size: 35px;
			}

			@include breakpoint(max-sm){
				font-size: 30px;
			}

			@include breakpoint(max-xxs){
				font-size: 25px;
			}
            }
        }

        .text {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .testimonial-count-box {
            @include flex;
            justify-content: space-between;
            margin-top: 50px;
            position: relative;

            @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 30px;
            }
           
            .box {
                padding: 20px 30px;
                background-color: #F7F7F7;
                border-radius: 10px;
                position: relative;

                @include breakpoint (max-xxl) {
                    width: 200px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;         
                    height: 0%;   
                    background: $theme-color;
                    border-radius: 10px;
                    z-index: 1;
                    transition: height 0.5s ease;
                }

                .icon {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    border-radius: 100px;
                    text-align: center;
                    background-color: $white;
                    margin-bottom: 20px;
                    @include transition;

                    img {
                        @include transition;
                        display: inline-block;
                    }
                }

                h2 {
                    font-size: 40px;
                    margin-bottom: 10px;
                }

                h6 {
                    font-weight: 400;
                }

                &:hover {
                    &::before {
                       height: 100%;  
                    }

                    .icon {
                        background-color: $theme-color-2;
                        color: $white;
                        position: relative;
                        z-index: 999;

                        img {
                            filter: brightness(0) invert(1);
                            transform: scaleX(-1) !important;
                        }
                    }

                    h2 {
                        color: $theme-color-2;
                        position: relative;
                        z-index: 999;
                    }

                    h6 {
                        color: $theme-color-2;
                        position: relative;
                        z-index: 999;
                    }
                }
            }
        }
    }
}